/* global */

.App {
  text-align: center;
}

nav {
  background-color: white;
  color: #324755;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  border-bottom: 1px solid #c8d1d3;
  padding: 0px 15px;
}

h1 {
  font-size: 18px;
}

.fontawesome {
  color: #324755;
  font-size: 24px;
}

/* front page */

.index {
  background-color: white;
}

.newscategory_active {
  display: block;
}

.newscategory {
  display: none;
}

.newscategory_title {
  background-color: #fefefe;
  padding: 5px 15px;
  border: 1px solid #eceff0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.newscategory_title h2 {
  font-size: 16px;
}

/* archive */

/* settings */

.blankdiv {
  content: "";
  display: inline-block;
}

.settingsh2 {
  color: #87bcbf;
  font-size: 30px;
  margin-top: 45px;
  margin-bottom: 0px;
}

.settingsh3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 400;
}

.setting h4 {
  font-size: 16px;
}

.settingswhiteborder {
  content: "";
  height: 1px;
  width: 30px;
  background-color: white;
  margin: auto;
  margin-bottom: 50px;
}

.settings {
  background-color: white;
  border-radius: 20px;
  margin: 15px;
}

.setting {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid #f3f6f6;
}

.settingslider,
.settingslider_active {
  background-color: #dee3e3;
  height: 25px;
  width: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.slidercircle,
.slidercircle_active {
  background-color: white;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-left: 2px;
  transition: margin-left 5ms ease;
}

.settingslider_active {
  background-color: #87bcbf;
}

.slidercircle_active {
  margin-left: 16px;
}

.setting:last-child {
  border-bottom: none;
}

.setting h4 {
  margin: 0px;
}

.darkmodetoggle {
  width: fit-content;
  margin: 0 auto;
  font-weight: 400;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #324755;
  margin-top: 50px;
}
