/*themes*/

.light-theme {
  --background: #ffffff;
  --app-background: #eceff0;
  --heading: #324755;
  --body: #6e8ca0;
  --border: #f3f6f6;
  --dark-mode-toggle-border: #324755;
  --settings-heading: #87bcbf;
  --search-background: #f0f3f4;
  --search-body: #9fb2c0;
  --searchnewsicon: #d0d7d9;

  background-color: var(--app-background);
  height: 100%;
}

.dark-theme {
  --background: #1b1b1b;
  --app-background: #252525;
  --heading: #ffffff;
  --body: #f3f6f6;
  --border: #252526;
  --dark-mode-toggle-border: #ffffff;
  --settings-heading: #87bcbf;
  --search-background: #383838;
  --search-body: #a0a0a0;
  --searchnewsicon: #5c5c5c;

  background-color: var(--app-background);
  height: 100%;
}

/* global */

#root {
  height: 100vh;
  background-color: var(--app-background);
}

.app {
  background-color: var(--app-background);
  height: 100vh;
}

nav {
  background-color: var(--background);
  color: var(--heading);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0px 15px;
  border-bottom: 1px solid var(--border);
}

h1 {
  font-size: 18px;
}

.fontawesome {
  color: var(--heading);
  font-size: 24px;
  margin-left: auto;
}

.searchnewsbackground {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.searchnewsdiv {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background-color: var(--search-background);
  color: var(--searchnewsicon);
  width: 100%;
}

.searchnews {
  padding: 10px;
  background-color: var(--search-background);
  border-radius: 5px;
  border: none;
  color: var(--body);
}

.searchnews::placeholder {
  color: var(--search-body);
}

.searchnews:focus {
  outline: none;
}

.searchnewsicon {
  background-color: var(--search-background);
  padding: 10px;
  border-radius: 5px;
}

/* front page */

.index {
  background-color: var(--background);
}

.newscategory {
  display: none;
}

.newscategory_active {
  display: block;
}

.newscategory_title,
.closednewscategory_title {
  color: var(--heading);
  background-color: var(--background);
  padding: 5px 15px;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.newscategory_title h2,
.closednewscategory_title h2 {
  font-size: 16px;
  padding-left: 10px;
}

.closednewscategory_title .fontawesome {
  transform: rotate(-90deg);
}

.fontawesome_titleicon {
  color: #d97d54;
  padding: 8px;
  background-color: var(--background);
  border-radius: 50%;
  box-shadow: 5px 10px 10px#e5e7e9;
}

.closednewscategory .article {
  max-height: 0px;
}

.opennewscategory .article {
  max-height: 445px;
  overflow: scroll;
}

.closednewscategory .article a {
  height: 0px;
  display: none;
  padding: 7px;
}

.article a {
  text-decoration: none;
  border-bottom: 1px solid var(--border);
  height: 75px;
  padding: 15px;
  display: flex;
  overflow: hidden;
  gap: 10px;
}

.articletext {
  overflow: hidden;
}

.article a h3 {
  color: var(--heading);
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin: 0px;
}

.article a p {
  color: var(--body);
  padding-top: 2px;
  font-size: 12px;
  text-align: left;
  margin: 0px;
  margin-bottom: 20px;
  font-weight: 200;
}

.article a .articleimg {
  display: inline-block;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  object-fit: cover;
  margin: 2.5px auto;
}

/* archive */

/* settings */

.blankdiv {
  content: "";
  display: inline-block;
}

.settingsh2 {
  color: var(--settings-heading);
  font-size: 30px;
  margin-top: 45px;
  margin-bottom: 0px;
}

.settingsh3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 400;
  color: var(--body);
}

.setting h4 {
  font-size: 16px;
}

.settingswhiteborder {
  content: "";
  height: 1px;
  width: 30px;
  background-color: var(--body);
  margin: auto;
  margin-bottom: 50px;
}

.settings {
  background-color: var(--background);
  color: var(--body);
  border-radius: 20px;
  margin: 15px;
}

.setting {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid var(--border);
}

.settingslider,
.settingslider_active {
  background-color: var(--app-background);
  transition: background-color 400ms ease;
  height: 25px;
  width: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.slidercircle,
.slidercircle_active {
  background-color: var(--background);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-left: 2px;
  transition: margin-left 400ms ease;
}

.settingslider_active {
  background-color: var(--settings-heading);
}

.slidercircle_active {
  margin-left: 16px;
}

.setting:last-child {
  border-bottom: none;
}

.setting h4 {
  margin: 0px;
}

.darkmodetoggle {
  width: fit-content;
  margin: 0 auto;
  font-weight: 400;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid var(--dark-mode-toggle-border);
  color: var(--heading);
  margin-top: 50px;
}
