/* global */

.app {
  height: 100vh;
}

nav {
  background-color: white;
  color: #324755;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0px 15px;
}

h1 {
  font-size: 18px;
}

.fontawesome {
  color: #324755;
  font-size: 24px;
  margin-left: auto;
}

/* front page */

.index {
  background-color: white;
  z-index: 10;
}

.newscategory {
  display: none;
}

.newscategory_active {
  display: block;
}

.newscategory_title,
.closednewscategory_title {
  color: #334856;
  background-color: #ffffff;
  padding: 5px 15px;
  border: 1px solid #eceff0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.newscategory_title h2,
.closednewscategory_title h2 {
  font-size: 16px;
  padding-left: 10px;
}

.closednewscategory_title .fontawesome {
  transform: rotate(-90deg);
}

.fontawesome_titleicon {
  color: #d97d54;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 5px 10px 10px#e5e7e9;
}

.closednewscategory .article {
  max-height: 0px;
}

.opennewscategory .article {
  max-height: 445px;
  overflow: scroll;
}

.closednewscategory .article a {
  height: 0px;
  display: none;
  padding: 7px;
}

.article a {
  text-decoration: none;
  border-bottom: 1px solid #eceff0;
  height: 75px;
  padding: 15px;
  display: flex;
  overflow: hidden;
  gap: 10px;
}

.articletext {
  overflow: hidden;
}

.article a h3 {
  color: #334856;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin: 0px;
}

.article a p {
  color: #6e8ca0;
  padding-top: 2px;
  font-size: 12px;
  text-align: left;
  margin: 0px;
  margin-bottom: 20px;
  font-weight: 200;
}

.article a .articleimg {
  display: inline-block;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  object-fit: cover;
  margin: 2.5px auto;
}

/* archive */

/* settings */

.blankdiv {
  content: "";
  display: inline-block;
}

.settingsh2 {
  color: #87bcbf;
  font-size: 30px;
  margin-top: 45px;
  margin-bottom: 0px;
}

.settingsh3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 400;
}

.setting h4 {
  font-size: 16px;
}

.settingswhiteborder {
  content: "";
  height: 1px;
  width: 30px;
  background-color: white;
  margin: auto;
  margin-bottom: 50px;
}

.settings {
  background-color: white;
  border-radius: 20px;
  margin: 15px;
}

.setting {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid #f3f6f6;
}

.settingslider,
.settingslider_active {
  background-color: #dee3e3;
  height: 25px;
  width: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.slidercircle,
.slidercircle_active {
  background-color: white;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-left: 2px;
  transition: margin-left 400ms ease;
}

.settingslider_active {
  background-color: #87bcbf;
}

.slidercircle_active {
  margin-left: 16px;
}

.setting:last-child {
  border-bottom: none;
}

.setting h4 {
  margin: 0px;
}

.darkmodetoggle {
  width: fit-content;
  margin: 0 auto;
  font-weight: 400;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #324755;
  margin-top: 50px;
}
